.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  display: block;
  box-shadow: 0 4px 24px #232a301a;
  border: 5px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 -18px 1px 5px #f1f0f4;
  position: fixed;
  width: 95.5%;
  z-index: 1;
}

.nav {
  border-radius: 10px;
}

.menu {
  padding: 0px;
  box-sizing: border-box;
  width: 20rem;
}

.menu-header {
  background-color: #7366FF;
  padding-top: .2rem;
  padding-left: .4rem;
  padding-right: .2rem;
  padding-bottom: .2rem;
  border-radius: 5px 5px 0 0;
}

.menu-title {
  color: #fff;
}

ul {
  list-style: none;
}

.mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 50%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.icon-one span {
  padding-left: .5rem;
}

/* .romit {
  background-color: rgb(218, 207, 193);
  width: 20rem;
  padding: 0px;
  margin: 0px;
} */

.icon {
  font-size: 25px;
}



/* menu */



mat-menu .mat-mdc-menu-panel.mat-mdc-menu-panel {
  width: 25rem;
  min-width: none;
  max-width: none;
}