.spinner {
  z-index: 999;
  position: fixed;
  left: 50%;
  right: 40%;
  top: 40%;
  bottom: 50%;
  margin-left: -4rem;
}

@media (max-width:1028px) {
  .spinner {
    z-index: 999;
    position: fixed;
    left: 39%;
    right: 50%;
    top: 27%;
    bottom: 50%;

  }
}