h1,
h2,
h3,
h4,
h5,
p {
  color: #3e4144;
  margin: 0;
}


.box-link {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  color: #444;
  margin-bottom: 0;
  margin-top: .8rem;
}

.box-one {
  display: flex;
  align-items: baseline;
}

.box-one li {
  margin: 0;
  padding: 0;
}

.box-one ul {
  display: flex;
  color: #555;
}

.application {
  background-color: aquamarine;
}

.a {
  margin-bottom: 10px;
}

/* cards */
.cards {
  display: flex;
  margin-top: 2rem;
  margin-left: 0;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: #ffff;
  max-width: 100%;
  width: 23%;
  border-radius: 10px;
  margin: 0 0 0 0rem;
}

.box-content {
  padding: 15px 20px;

}

.hy-icon {
  transition: all .3s ease-in-out;
  color: white;
  padding: 0.8rem;
  border-radius: 9px;
  position: absolute;
  top: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.box:hover .hy-icon {
  top: 180px;
  background-color: rgb(27, 18, 18);
}


.hy-title {
  margin: 0;
  margin-bottom: .5rem;
  padding: 0rem 0 0 0;
  color: #3e4144;
  position: relative;
  text-align: right;
}

.card-percentage {
  display: flex;
  font-weight: 400;
  font-size: 15px;

}

/* row3 */

.row3 {
  display: flex;
  flex-direction: wrap;
  margin-top: 2rem;

}


.earning-chart {
  position: relative;
  width: 66%;
  background-color: #ffff;
  border: 1px solid #f2f4f9;
  border-radius: 10px;
  box-sizing: 0 0 10px 0 rgba(183, 192, 206, .2);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 100%;
  margin: 0;
  align-items: center;
}

.earn-title {
  margin: 0;
  color: #5b626b;
  font-size: 20px;
  line-height: 28px;
  padding-right: 10px;
  font-weight: 500;
  padding-left: 1rem;
}

.chart {
  display: flex;
  justify-content: center;
}

.main-chart {
  padding: 3rem;

}

.chart-body {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.chart-body ul {
  display: flex;
  color: #555;
}

.chart-body h4 {
  font-size: 22px;
  font-weight: 500;
}

.chart-earning {
  font-size: 15px;
  color: #919191;

}

.chart-body li {
  padding-right: 30px;
  margin-right: .5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* transaction */
.transaction {
  width: 32%;
  background: #fff;
  min-height: 50px;
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #f2f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px #b7c0ce33;
  margin-left: 2rem;
}

.header-transaction {
  width: 100%;

}

.header-transaction h2 {
  margin: 0;
  color: #5b626b;
  font-size: 20px;
  line-height: 28px;

  padding: 1rem;
  font-weight: 500;
}

.body-transaction {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar-track {
  color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all .3s ease-in-out;
  visibility: hidden;
  background: rgb(204, 200, 200);
  border-radius: 10px;
  height: 250px;
}

.transaction:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}


ul {
  margin: 0;
  padding: 0;
}

.transaction-add {
  padding-left: 1rem;
  padding-right: 1rem;
}

.transaction-add li {
  /* font-size:30px; */
  display: flex;
  list-style: none;
  margin-bottom: 2rem;
}

.box-icon {
  background-color: #e1fbe2;
}

.material-icons-a {
  font-size: 30px;
  width: 30px;
  padding: 2px;
  color: #4caf50;

}

.xyz {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box-icon {
  position: relative;
  line-height: 1;
  padding: 8px;
  border-radius: 5px;
}

.xyz h4 {
  margin: 0px;
  /* line-height: 1.2; */
}

.a {
  margin: 0;
  padding-left: 7px;
}

.b {
  display: flex;
  align-items: center;
}


/* row4 */
.row4 {
  display: flex;
  flex-direction: wrap;
  margin-top: 2rem;
}

.bill {
  position: relative;
  width: 33%;
  border-radius: 10px;
  background-color: #ffff;
}

.card-bill {
  padding: 1rem;
}

.avg h4 {
  color: #787b80;
  font-weight: 500;
  margin-bottom: 10px;
}

.avg h3 {
  color: #222222;
  font-size: 1.25rem;
  font-weight: 500;

}

.avg span {
  font-size: .9rem;
}

.bill-chart{
  padding: 1rem;

}
.bill-chart-style{
  height: 380px;
}
