<div>
  <div class="breadcrumb-main">
    <div class="box-link">
      <div class="box-one">
        <h4 class="page-title">Dashbord</h4>
      </div>
      <div class="box-one">
        <ul class="romit">
          <li class="breadcrumb-item">
            <mat-icon>home</mat-icon>
          </li>
          <li class="breadcrumb-item">
            <mat-icon>chevron_right</mat-icon><span class="a">Home</span>
          </li>
          <li class="breadcrumb-item">
            <mat-icon>chevron_right</mat-icon><span class="a">Dashbord</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="box">
      <div class="box-a">
        <div class="box-content">
          <mat-icon class="hy-icon">shopping_cart</mat-icon>
          <h3 class="hy-title">Total Sales</h3>
          <h2 class="hy-title">258</h2>
          <div class="card-percentage">
            <mat-icon style="color: red;  margin: 0.6rem 0.4rem 0 0;">trending_down</mat-icon>
            <p><span style="color: red;">10% </span> Decrease
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-a">
        <div class="box-content">
          <mat-icon class="hy-icon">people</mat-icon>
          <h3 class="hy-title">Total Sales</h3>
          <h2 class="hy-title">258</h2>
          <div class="card-percentage">
            <mat-icon style="color: rgb(32, 190, 0);  margin: 0.6rem 0.4rem 0 0;">trending_up</mat-icon>
            <p><span style="color: rgb(0, 165, 8);">10% </span> Decrease
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-a">
        <div class="box-content">
          <mat-icon class="hy-icon">local_activity</mat-icon>
          <h3 class="hy-title">Total Sales</h3>
          <h2 class="hy-title">258</h2>
          <div class="card-percentage">
            <mat-icon style="color: red;  margin: 0.6rem 0.4rem 0 0;">trending_down</mat-icon>
            <p><span style="color: red;">10% </span> Decrease
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-a">
        <div class="box-content">
          <mat-icon class="hy-icon">attach_money</mat-icon>
          <h3 class="hy-title">Total Sales</h3>
          <h2 class="hy-title">258</h2>
          <div class="card-percentage">
            <mat-icon style="color: rgb(3, 163, 3);  margin: 0.6rem 0.4rem 0 0;">trending_up</mat-icon>
            <p><span style="color: rgb(27, 163, 0);">10% </span> Decrease
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
